<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.user.aditya.gradbud">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon4"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon4"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Main2Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Attendance"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Notices"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Marks"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Main3Activity"
            android:label="Grad Bud"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Teachlogin"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Assignments"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ChangePassword"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TeachDashboard"
            android:label="@string/title_activity_teach_dashboard"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MarkAttendance"
            android:label="@string/title_activity_mark_attendance"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".give_assignment"
            android:label="@string/title_activity_give_assignment"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MarkAssignment"
            android:label="@string/title_activity_mark_assignment"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Introduction"
            android:label="Grad Bud"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreatePin"
            android:label="@string/title_activity_create_pin"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CheckPIN"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".UploadMarks"
            android:label="@string/title_activity_upload_marks"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ChooseStudent"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AboutDev"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".FAQ"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Report"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Example"
            android:label="@string/title_activity_example"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".StartTabs"></activity>
    </application>

</manifest>